@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .circle-two-dashes {
    stroke-dasharray: 70;
    stroke-dashoffset: 260;
  }

  .circle-one-dash {
    stroke-dasharray: 283;
    stroke-dashoffset: 240;
  }

  @supports (-webkit-touch-callout: none) {
    .circle-one-dash,
    .circle-two-dashes {
      -webkit-transform: translate(0px, 0px);
    }
  }
}
